*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    padding-block: 2em;
    background-color: #FFE4E1;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.app-container{
    grid-template-rows: 100px 80px 80px;
    padding-block: 1em;
    display: grid;
    height: 55em;
    width: 30em;
    justify-content: center;
    background-color: #F7F7F7;
    border-radius: 2em;
    box-shadow: 5px 1px 10px 1px #504f4f36;
}
.logo-area{
    padding-inline: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}
.logo-area h2{
    font-size: 1em;
    color: #555555;
}
.nav-area{
    background-color: #f2f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 28em;
    border-radius: 1em;
    height: 4em;
}
.nav-area .nav-buttons{
    gap: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-buttons h5{
    font-size: 0.6em;
    transition: .1s all ease;
}
.nav-buttons h5:hover{
    color: #FFB3BA;
    transform: translateY(-0.1em);
}
.search-area{
    background-color: #f2f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 28em;
    height: 3em;
    border-radius: 0.5em;
}
.search-area input{
    border: 0.01em solid #7e7e7e;
    height: 2em;
    width: 18em;
    border-radius: 0.5em;
}
.card-conatiner{
    display: grid;
}
.card{
    display: flex;
    align-items: center;
    gap: 1em;
    border: 2px solid #7e7e7e;
    border-radius: 0.5em;
    padding-inline: 0.5em;
}
.card img{
    max-width: 3em;
    height: 3em;
    border-radius: 50%;
}
.text{
    display: grid;
    gap: 0.4em;
}
.text h2{
   font-size: 1em; 
}
.text p{
    font-size: 0.7em; 
 }
 .text h3{
    text-align: center;
    border-radius: 0.5em;
    width: 8em;
    background-color: #FFB3BA;
    font-size: 0.8em; 
 }
